
h1, h2, h3, h6, p, li, form, label, div {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

h1, h2 {
	font-size: 34px;
	font-weight: bold;
}

h2 {
	margin: 34px;
	color: teal;
}


h3 {
	font-size: 26px;
	font-weight: bold;
	margin: 26px;
	color: teal;
}

body {
	background: lightgrey;
	background: url(../images/concrete.png);
    background-repeat: repeat;
    background-size: 30%;
}

a {
	color: grey;
	font-size: 18px;
}

hr {
	background: lightgrey;
	height: 4px;
	border: none;
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    background: white;
    top: 0;
    margin: 0 auto;
    border-bottom: solid grey;
    z-index: 999999999;
}

ul {
	margin-left: 26px;
}

input {
    width: 575px;
    height: 24px;
    margin-top: 10px;
}

.menuBar {
    height: 75px;
    width: 960px;
    top: 0;
    margin: 0 auto;
}

#myName {
	position: relative;
	background: teal;
	width: 320px;
	height: 75px;
	float: left;
	color: white;
	text-align: center;
    line-height: 75px;
}

#menuOptions {
	position: relative;
	width: 270px;
	height: 75px;
	float: right;
	text-align: center;
    line-height: 75px;
}

#menuOptions a {
	width: 30%;
	float: left;
}

#menuOptions h6 {
	color: lightgrey;
	float: left;
	margin: 0 auto;
}

#menuOptions a {
	text-decoration: none;
}

#pageBody {
	width: 960px;
	margin: 0 auto;
	margin-top: 115px;
}

#about, #contact {
	width: 650px;
	float: left;
	margin-right: 40px;
	background: white;
	margin-bottom: 100px;
}

#about hr, #contact hr {
	margin-left: 34px;
	margin-right: 34px;
}

#contact form {
	margin: 20px;
	margin-left: 34px;
	color: grey;
	font-size: 21px;
}

#contact p {
	margin-top: 25px;
}

#contact textarea {
    width: 575px;
    height: 120px;
    margin-top: 10px;
    border: lightgrey solid 1px;
}

#submit {
    width: 150px;
    height: 50px;
    background: teal;
    margin-top: 20px;
    color: white;
    font-size: 21px;
    border: none;
}

#bioPic {
	width: 170px;
	margin: 20px;
	margin-left: 34px;
	margin-bottom: 10px;
	float: left;
}

#about p {
	margin: 20px;
	color: grey;
	font-size: 20px;
	line-height: 1.2;
}

.leftBox {
	border: solid teal 1px;
	float: left;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 34px;
	width: 270px;
	height: 200px;
	position: relative;
}

.rightBox {
	border: solid teal 1px;
	float: right;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 34px;
	width: 270px;
	height: 200px;
	position: relative;
}

.imageBox img{
	width: 270px;
}

.boxLabel {
    width: 100%;
    background: teal;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 10px;
}

.connect {
	width: 270px;
	height: 220px;
	float: left;
	background: white;
}

.connect hr {
	margin-left: 26px;
	margin-right: 26px;
}

.social {
	width: 29%;
	float: left;
	margin-right: 3px;
	margin-top: 20px;
}

.footer {
	clear: both;
	width: 100%;
	height: 61px;
	background: grey;
	position: fixed;
	bottom: 0px;
	text-align: center;
    color: lightgrey;
    line-height: 61px;
    border-top: solid teal 7px;
}

@media (max-width:980px) {

	.menuBar {
    width: 90%;
	}

	#pageBody {
    width: 90%;
	}

	#about, #contact {
	width: 60%;
	margin-right: 10px;
	}

	input {
	width: 96%;
	}

	#contact textarea {
    width: 96%;
	}
	
	#bioPic {
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 25px;
    margin-bottom: 10px;
	}

	.imageBox {
	float: none;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	}

	.connect {
	width: 35%;
	float: right;
	}
	
	.connect h3 {
	font-size: 23px;
	}

	#about p {
    margin: 10px;
    margin-left: 34px;
    margin-right: 34px;
    float: left;
	}
}

@media (max-width:768px) {

	#menuOptions{
	width: 250px;
	}

	#about, #contact {
	width: 100%;
    margin-bottom: 30px;
	}
	
	#bioPic {
	margin: 20px;
	margin-left: 34px;
	margin-bottom: 10px;
	float: left;
	}

	#about p {
    float: none;
	}

	.imageBox {
	width: 39%;
	}

	.leftBox {
	float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 34px;
	}

	.rightBox {
	float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 34px;
	}

	.connect {
	width: 100%;
    margin-bottom: 95px;
	}

	.social {
	width: 70px;
	}
}

@media (max-width:640px) {

	header {
	position: relative;
	}

	.menuBar {
	width: 100%;
	}

	#myName {
	width: 100%;
	}

	#menuOptions {
	width: 100%;
	background: white;
	height: 60px;
	line-height: 60px;
	}
	
	#pageBody {
    margin-top: 90px;
	}

	.footer {
	position: relative;
	}

	#bioPic {
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 25px;
    margin-bottom: 10px;
	}

	#about p {
    margin: 10px;
    margin-left: 34px;
    margin-right: 34px;
    float: left;
	}

	.imageBox {
	float: none;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 270px;
	}

	.connect {
    margin-bottom: 30px;
	}
}
