
h1, h2, h3, h6, p, li, form, label {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

h1, h2 {
	font-size: 34px;
	font-weight: bold;
}

h2 {
	margin: 34px;
	color: teal;
}


h3 {
	font-size: 26px;
	font-weight: bold;
	margin: 26px;
	color: teal;
}

body {
	background: lightgrey;
}

a {
	color: grey;
	font-size: 18px;
}

hr {
	background: lightgrey;
	height: 4px;
	border: none;
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    background: white;
    top: 0;
    margin: 0 auto;
    border-bottom: solid grey;
}

ul {
	margin-left: 26px;
}

input {
    width: 575px;
    height: 24px;
    margin-top: 10px;
}

.menuBar {
    height: 75px;
    width: 960px;
    top: 0;
    margin: 0 auto;
}

#myName {
	position: relative;
	background: teal;
	width: 320px;
	height: 75px;
	float: left;
	color: white;
	text-align: center;
    line-height: 75px;
}

#menuOptions {
	position: relative;
	width: 270px;
	height: 75px;
	float: right;
	text-align: center;
    line-height: 75px;
}

#menuOptions a {
	width: 30%;
	float: left;
}

#menuOptions h6 {
	color: lightgrey;
	float: left;
	margin: 0 auto;
}

#menuOptions a {
	text-decoration: none;
}

#pageBody {
	width: 960px;
	margin: 0 auto;
	margin-top: 115px;
}

#about, #contact {
	width: 650px;
	float: left;
	margin-right: 40px;
	background: white;
	margin-bottom: 100px;
}

#about hr, #contact hr {
	margin-left: 34px;
	margin-right: 34px;
}

#contact form {
	margin: 20px;
	margin-left: 34px;
	color: grey;
	font-size: 21px;
}

#contact p {
	margin-top: 25px;
}

#contact textarea {
    width: 575px;
    height: 120px;
    margin-top: 10px;
    border: lightgrey solid 1px;
}

#submit {
    width: 150px;
    height: 50px;
    background: teal;
    margin-top: 20px;
    color: white;
    font-size: 21px;
    border: none;
}

#bioPic {
	width: 170px;
	margin: 20px;
	margin-left: 34px;
	margin-bottom: 10px;
	float: left;
}

#about p {
	margin: 20px;
	color: grey;
	font-size: 20px;
	line-height: 1.2;
}

.leftBox {
	border: solid teal 1px;
	float: left;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 34px;
	width: 270px;
	height: 200px;
}

.rightBox {
	border: solid teal 1px;
	float: right;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 34px;
	width: 270px;
	height: 200px;
}

.imageBox img{
	width: 270px;
}

.connect {
	width: 270px;
	height: 220px;
	float: left;
	background: white;
}

.connect hr {
	margin-left: 26px;
	margin-right: 26px;
}

.social {
	width: 70px;
	float: left;
	margin-right: 3px;
	margin-top: 20px;
}

.footer {
	clear: both;
	width: 100%;
	height: 61px;
	background: grey;
	position: fixed;
	bottom: 0px;
	text-align: center;
    color: lightgrey;
    line-height: 61px;
    border-top: solid teal 7px;
}